{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}


<div class="container list">
{{#list}}
    <div class="item">
        <img src= "images/{{PetImagem}}" class="item--image" />
        <div class="item--name">{{PetNome}}</div>
        <div class="item--color">Cor: {{PetidCor}}</div>
        <div class="item--genre">Gênero: {{PetidSexo}}</div>
   
    </div>
     {{/list}}
</div>

{{^list}}
<div class="container no-list">
     <h2> Não há animais nesta sua pesquisa </h2>
</div>
{{/list}}





{{>partials/footer}}
